.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.deleteButton {
  border: none;
  background-color: transparent;
  margin-left: 5px;
  font-size: small;
}

.deleteButton:hover {
  color: red;
}

.adminBox {
  border-radius: 25px;
}

.adminForm {
  /* height: 475px; */
  background-color: rgb(235, 195, 64);
  /* width: 500px; */
  border-radius: 25px;
}

.submitButton {
  /* margin-left: 175px;
  margin-top: 20px; */
  color: green;
  background-color: rgb(235, 195, 64);

  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.submitButton:hover {
  transform: scale(1.1);
  color: rgb(235, 195, 64);
  background-color: green;
}

.adminHeader {
  margin-top: 15px;
  color: green;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5);
  text-align: center;
}

table {
  background-color: rgb(235, 195, 64);
  border-radius: 25px;
  width: 400px;
}

label {
  font-size: 15px;
  color: green;
  font-weight: bold;
}

.form {
  padding: 200px;
}

.adminContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.form-group {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.rInput {
  width: 425px;
}

.form-control {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
