.card {
  padding: 20px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 5px;
  color: black;
  font-weight: bold;
}

.box {
  display: grid;
  grid-template-columns: [first] 30% [line2] 30% [line3] 30%;
  margin-top: 5%;
  margin-bottom: 15%;
  justify-content: center;
  grid-template-areas: "header header header";
}

body {
  background-color: azure;
}

.cardBox:hover {
  transform: scale(1.05);
}

.header {
  grid-area: header;
}

.adminView,
.userView,
.input {
  margin: 5px;
  margin-right: 13px;
}

.adminView,
.userView {
  font-size: 10px;
  margin-top: 12px;
}

.home {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.dropbtn,
.searchButton,
.homeButton {
  background-color: #4caf50;
  color: white;
  margin-top: 5px;
  font-size: 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.homeButton {
  margin-left: 100px;
}
