body {
  background-color: #faf1d1;
}

/*
.card:hover {
  transform: scale(1.05);
}
*/

/*mostly NavBar css*/

.header {
  grid-area: header;
}

.adminView,
.userView,
.input {
  margin: 5px;
  margin-right: 13px;
}

.adminView,
.userView {
  font-size: 10px;
  margin-top: 12px;
}

.dropbtn,
.searchButton,
.homeButton {
  color: #ffffff;
  background-color: #00a082;
  margin-top: 5px;
  font-size: 15px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 7px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-left: 15px;
  padding-right: 15px;
}

.searchButton:hover,
.homeButton:hover,
.dropbtn:hover {
  color: #ffffff;
  background-color: #07856e;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.homeButton {
  margin-left: 100px;
}

.input {
  border-radius: 25px;
  padding: 5px;
  border: 1px gainsboro solid;
  margin-top: 5px;
  margin-left: 55px;
  padding-right: 15px;
  padding-left: 1rem;
}

.Navigation {
  background-color: #ffc244;
  padding: 10px;
}

/*footer*/
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #ffc244;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footerButton {
  background-color: #ffc244;
  border: none;
  color: #00a082;
  font-weight: bold;
  text-align: center;
  padding-left: 5px;
}

.footerButton:hover {
  transform: scale(1.15);
}
