.card {
  padding: 20px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 5px;
  color: black;
}

.glovo {
  background-color: yellow;
  color: green;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  box-shadow: 3px 3px;
}

.allergy {
  border: none;
  border-radius: 10px;
}

.box {
  display: grid;
  grid-template-columns: [first] 30% [line2] 30% [line3] 30%;
  margin-top: 15%;
  margin-bottom: 15%;
  justify-content: center;
}

.card-text {
  font-weight: lighter;
}
